:root {
    --adm-radius-s: 0.08rem;
    --adm-radius-m: 0.16rem;
    --adm-radius-l: 0.24rem;
    --adm-font-size-1: 0.18rem;
    --adm-font-size-2: 0.2rem;
    --adm-font-size-3: 0.22rem;
    --adm-font-size-4: 0.24rem;
    --adm-font-size-5: 0.26rem;
    --adm-font-size-6: 0.28rem;
    --adm-font-size-7: 0.3rem;
    --adm-font-size-8: 0.32rem;
    --adm-font-size-9: 0.34rem;
    --adm-font-size-10: 0.36rem;
    --adm-color-primary: #1677ff;
    --adm-color-success: #00b578;
    --adm-color-warning: #ff8f1f;
    --adm-color-danger: #ff3141;
    --adm-color-text: #333;
    --adm-color-text-secondary: #666;
    --adm-color-weak: #999;
    --adm-color-light: #ccc;
    --adm-color-border: #eee;
    --adm-color-background: #fff;
    --adm-color-white: #fff;
    --adm-color-box: #f5f5f5;
    --adm-color-text-light-solid: var(--adm-color-white);
    --adm-color-text-dark-solid: #000;
    --adm-color-fill-content: var(--adm-color-box);
    --adm-font-size-main: var(--adm-font-size-5);
    --adm-font-family: -apple-system, blinkmacsystemfont, "Helvetica Neue", helvetica, segoe ui, arial, roboto, "PingFang SC", "miui", "Hiragino Sans GB", "Microsoft Yahei", sans-serif;
    --adm-border-color: var(--adm-color-border)
}

html[data-prefers-color-scheme=dark] {
    --adm-color-primary: #3086ff;
    --adm-color-success: #34b368;
    --adm-color-warning: #ffa930;
    --adm-color-danger: #ff4a58;
    --adm-color-text: #e6e6e6;
    --adm-color-text-secondary: #b3b3b3;
    --adm-color-weak: grey;
    --adm-color-light: #4d4d4d;
    --adm-color-border: #2b2b2b;
    --adm-color-box: #0a0a0a;
    --adm-color-background: #1a1a1a;
    --adm-border-color: var(--adm-color-border)
}

:root {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

body {
    color: var(--adm-color-text);
    font-size: var(--adm-font-size-main);
    font-family: var(--adm-font-family)
}

a,
button {
    cursor: pointer
}

a {
    color: var(--adm-color-primary);
    transition: opacity .2s ease-in-out
}

a:active {
    opacity: .8
}

.adm-plain-anchor {
    color: unset;
    transition: none
}

.adm-plain-anchor:active {
    opacity: unset
}

body.adm-overflow-hidden {
    overflow: hidden !important
}

div.adm-px-tester {
    --size: 1;
    height: calc(var(--size) / 2 * .04rem);
    width: 0;
    position: fixed;
    right: -100vw;
    bottom: -100vh;
    -webkit-user-select: none;
    user-select: none;
    pointer-events: none
}

:root {
    --max-width: 22rem;
    --border-radius: 0.24rem;
    --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace;
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
    --primary-glow: conic-gradient(from 180deg at 50% 50%, #16abff33 0deg, #0885ff33 55deg, #54d6ff33 120deg, #0071ff33 160deg, transparent 360deg);
    --secondary-glow: radial-gradient(#fff, hsla(0, 0%, 100%, 0));
    --tile-start-rgb: 239, 245, 249;
    --tile-end-rgb: 228, 232, 233;
    --tile-border: conic-gradient(#00000080, #00000040, #00000030, #00000020, #00000010, #00000010, #00000080);
    --callout-rgb: 238, 240, 241;
    --callout-border-rgb: 172, 175, 176;
    --card-rgb: 180, 185, 188;
    --card-border-rgb: 131, 134, 135
}

@media (prefers-color-scheme:dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
        --primary-glow: radial-gradient(rgba(1, 65, 255, .4), rgba(1, 65, 255, 0));
        --secondary-glow: linear-gradient(to bottom right, rgba(1, 65, 255, 0), rgba(1, 65, 255, 0), rgba(1, 65, 255, .3));
        --tile-start-rgb: 2, 13, 46;
        --tile-end-rgb: 2, 5, 19;
        --tile-border: conic-gradient(#ffffff80, #ffffff40, #ffffff30, #ffffff20, #ffffff10, #ffffff10, #ffffff80);
        --callout-rgb: 20, 20, 20;
        --callout-border-rgb: 108, 108, 108;
        --card-rgb: 100, 100, 100;
        --card-border-rgb: 200, 200, 200
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body,
html {
    max-width: 100vw;
    overflow-x: hidden;
    font-size: .28rem;
    position: relative;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "sans-serif", SF Pro Display, Roboto-Regular
}

iframe {
    border: 0
}

body {
    background: #f5f5f5;
    --adm-color-primary: #ee4d2d
}

body .adm-dialog-title {
    color: rgba(0, 0, 0, .87);
    font-weight: 500;
    font-size: .32rem
}

body .adm-dialog-content {
    color: rgba(0, 0, 0, .65);
    font-weight: 400;
    font-size: .28rem;
    line-height: .4rem
}

body .adm-toast-mask .adm-toast-main-icon {
    min-width: 2rem;
    padding: .3rem
}

body .adm-toast-mask .adm-toast-main {
    max-width: 5.4rem
}

a {
    color: inherit;
    text-decoration: none
}

@media (prefers-color-scheme:dark) {
    html {
        color-scheme: dark
    }
}

.ErrorBoundary_exceptionContainer__dVyKt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}

.ErrorBoundary_exceptionContainer__dVyKt .ErrorBoundary_exceptionIcon__AhNcI {
    width: 2.4rem;
    height: 2.4rem
}

.ErrorBoundary_exceptionContainer__dVyKt .ErrorBoundary_exceptionTitle__Wj65g {
    font-size: .28rem;
    font-weight: 400;
    line-height: .4rem;
    text-align: center;
    margin-top: .32rem;
    width: 5.6rem;
    white-space: pre-wrap;
    word-break: break-word;
    color: rgba(0, 0, 0, .54)
}

.ErrorBoundary_exceptionContainer__dVyKt .ErrorBoundary_btn__gKoCq {
    width: 2.4rem;
    height: .72rem;
    padding: .2rem .32rem;
    border-radius: .04rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: .32rem;
    background-color: #ee4d2d;
    color: #fff
}

.adm-button {
    --color: var(--adm-color-text-light-solid);
    --text-color: var(--adm-button-text-color, var(--adm-color-text));
    --background-color: var(--adm-button-background-color, var(--adm-color-background));
    --border-radius: var(--adm-button-border-radius, 0.08rem);
    --border-width: var(--adm-button-border-width, 1px);
    --border-style: var(--adm-button-border-style, solid);
    --border-color: var(--adm-button-border-color, var(--adm-color-border));
    color: var(--text-color);
    background-color: var(--background-color);
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    height: auto;
    padding: .14rem .24rem;
    margin: 0;
    font-size: var(--adm-font-size-9);
    line-height: 1.4;
    text-align: center;
    border: var(--border-width) var(--border-style) var(--border-color);
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: opacity .15s ease;
    -webkit-user-select: none;
    user-select: none
}

.adm-button:focus {
    outline: none
}

.adm-button:before {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(calc(var(--border-width) * -1), calc(var(--border-width) * -1));
    width: 100%;
    height: 100%;
    background-color: var(--adm-color-text-dark-solid);
    border: var(--border-width) var(--border-style) var(--adm-color-text-dark-solid);
    border-radius: var(--border-radius);
    opacity: 0;
    content: " ";
    box-sizing: content-box
}

.adm-button:active:before {
    opacity: .08
}

.adm-button-default.adm-button-fill-outline {
    --background-color: transparent;
    --border-color: var(--adm-color-text)
}

.adm-button-default.adm-button-fill-none {
    --background-color: transparent;
    --border-width: 0px
}

.adm-button:not(.adm-button-default) {
    --text-color: var(--adm-color-text-light-solid);
    --background-color: var(--color);
    --border-color: var(--color)
}

.adm-button:not(.adm-button-default).adm-button-fill-outline {
    --text-color: var(--color);
    --background-color: transparent
}

.adm-button:not(.adm-button-default).adm-button-fill-none {
    --text-color: var(--color);
    --background-color: transparent;
    --border-width: 0px
}

.adm-button-primary {
    --color: var(--adm-color-primary)
}

.adm-button-success {
    --color: var(--adm-color-success)
}

.adm-button-danger {
    --color: var(--adm-color-danger)
}

.adm-button-warning {
    --color: var(--adm-color-warning)
}

.adm-button-block {
    display: block;
    width: 100%
}

.adm-button-disabled {
    cursor: not-allowed;
    opacity: .4
}

.adm-button-disabled:active:before {
    display: none
}

.adm-button.adm-button-mini {
    padding-top: .06rem;
    padding-bottom: .06rem;
    font-size: var(--adm-font-size-main)
}

.adm-button.adm-button-mini.adm-button-shape-rounded {
    padding-left: .18rem;
    padding-right: .18rem
}

.adm-button.adm-button-small {
    padding-top: .06rem;
    padding-bottom: .06rem;
    font-size: var(--adm-font-size-7)
}

.adm-button.adm-button-large {
    padding-top: .22rem;
    padding-bottom: .22rem;
    font-size: var(--adm-font-size-10)
}

.adm-button.adm-button-shape-rounded {
    --border-radius: 20rem
}

.adm-button.adm-button-shape-rectangular {
    --border-radius: 0
}

.adm-button-loading {
    vertical-align: bottom
}

.adm-button-loading-wrapper {
    display: flex;
    height: 1.4em;
    align-items: center;
    justify-content: center
}

.adm-button-loading-wrapper>.adm-loading {
    opacity: .6
}

.adm-dot-loading {
    display: inline-block
}

.adm-spin-loading {
    --color: var(--adm-color-weak);
    --size: 0.64rem;
    width: var(--size);
    height: var(--size)
}

.adm-spin-loading-svg {
    width: 100%;
    height: 100%;
    animation: adm-spin-loading-rotate .8s linear infinite
}

.adm-spin-loading-svg>.adm-spin-loading-fill {
    stroke: var(--color)
}

@keyframes adm-spin-loading-rotate {
    0% {
        transform: rotate(0deg)
    }

    to {
        transform: rotate(1turn)
    }
}

.adm-mask {
    --z-index: var(--adm-mask-z-index, 1000);
    position: fixed;
    z-index: var(--z-index);
    display: block
}

.adm-mask,
.adm-mask-aria-button {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.adm-mask-aria-button {
    position: absolute;
    z-index: 0;
    pointer-events: none
}

.adm-mask-content {
    z-index: 1
}

.adm-auto-center {
    display: flex;
    justify-content: center
}

.adm-auto-center-content {
    flex: 0 1 auto
}

.adm-toast-mask .adm-toast-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center
}

.adm-toast-mask .adm-toast-main {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    max-width: 4.08rem;
    max-height: 70%;
    overflow: auto;
    color: #fff;
    word-break: break-all;
    background-color: rgba(0, 0, 0, .7);
    border-radius: .16rem;
    pointer-events: all;
    font-size: var(--adm-font-size-7);
    line-height: 1.5;
    box-sizing: border-box
}

.adm-toast-mask .adm-toast-main-text {
    padding: .24rem;
    min-width: 0
}

.adm-toast-mask .adm-toast-main-icon {
    padding: .7rem .24rem;
    min-width: 3rem
}

.adm-toast-mask .adm-toast-main-icon .adm-toast-icon {
    text-align: center;
    margin-bottom: .16rem;
    font-size: .72rem;
    line-height: 1
}

.adm-toast-loading {
    --size: 0.96rem;
    margin: 0 auto .16rem
}